---
Language: Cpp
BasedOnStyle: LLVM
Standard: Latest
ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
NamespaceIndentation: None
FixNamespaceComments: true
PointerAlignment: Left
ReferenceAlignment: Pointer
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBinaryOperators: NonAssignment
BreakTemplateDeclarations: Yes
SeparateDefinitionBlocks: Always
InsertNewlineAtEOF: true
KeepEmptyLines:
  AtEndOfFile: false
  AtStartOfBlock: false
  AtStartOfFile: false
IncludeBlocks: Regroup
IncludeCategories:
  # Project headers
  - Regex: '^"'
    Priority: 1
  # Qt headers
  - Regex: '^<Q[A-Za-z0-9]*(/|>)|^<Qt[A-Za-z]+/'
    Priority: 3
  # Standard library headers
  - Regex: '^<[a-z_]+>$'
    Priority: 4
  # Other third-party headers
  - Regex: '^<'
    Priority: 2
...
