---
Checks: >-
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-redundant-access-specifiers
WarningsAsErrors: '*'
HeaderFilterRegex: '.*/(src|tests|tools)/.*'
ExcludeHeaderFilterRegex: '.*/build/.*'
SystemHeaders: false
FormatStyle: file
CheckOptions:
  cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor: true
  cppcoreguidelines-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: true
  readability-function-cognitive-complexity.Threshold: 25
  readability-trailing-comma.MultiLineCommaPolicy: Append
  readability-trailing-comma.SingleLineCommaPolicy: Ignore
  readability-implicit-bool-conversion.AllowPointerConditions: true
  readability-identifier-naming.NamespaceCase: lower_case
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.EnumConstantCase: CamelCase
  readability-identifier-naming.FunctionCase: camelBack
  readability-identifier-naming.MethodCase: camelBack
  readability-identifier-naming.ParameterCase: camelBack
  readability-identifier-naming.VariableCase: camelBack
  readability-identifier-naming.PrivateMemberCase: camelBack
  readability-identifier-naming.PrivateMemberPrefix: m_
  readability-identifier-naming.ProtectedMemberCase: camelBack
  readability-identifier-naming.ProtectedMemberPrefix: m_
  readability-identifier-naming.ConstexprVariableCase: CamelCase
  readability-identifier-naming.ConstexprVariablePrefix: k
  readability-identifier-naming.TemplateParameterCase: CamelCase
  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
...
